*.json
*.bin
*.ipch
*.user
*.iml
*.jpg

.project
.cproject
.idea
.settings
.user
.a
.lib
.gradle/
.externalNativeBuild
imgui.ini
local.properties
CMakeLists.txt.user*

build/
build-debug/
build-default/
build-release/
cmake-build-debug/